/* import arabic font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
/*  import english font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --Arabic-font: "IBM Plex Sans Arabic", sans-serif;
    --Arabic-second-font: "Almarai", sans-serif;
    --English-font: "Roboto Mono", monospace;
    --bg-color: #F5F5F5;
    --gray-secondry-color: #E7E7E9;
    --gray-color: #7B7B7B;
    --Primary-color: #007F66;
    --Secondry-color: #01997B;
    /* new down */
    --for-box-card: #003228;

}

body,
html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: var(--Arabic-second-font);


}

/* Start Nav-bar */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    padding: 1em 2em;
    background-color: var(--bg-color);
}

.logo {
    margin-left: auto;
    max-width: 30em;
}

nav ul {
    display: flex;
    gap: 1.5em;
}

nav ul li a {
    color: var(--Primary-color);
    font-family: var(--Arabic-second-font);
    font-size: 1.1em;
}


/* Show the dropdown menu on hover */
.nav-links li:last-child::after {
    content: "|";
    margin-right: 0.5rem;
    color: #000000;
    /* غير اللون حسب خلفيتك */
}

.humbrger-icon {
    color: black;
    display: none;
    cursor: pointer;

}

nav ul li a:hover {
    color: var(--gray-color);
}

@media (max-width: 800px) {
    nav ul li a {
        font-size: 1em;

    }

    nav {
        padding: 1em 0.4em;

    }

    .logo {
        max-width: 80px;
    }
}

@media (max-width: 768px) {
    nav ul li {
        padding: 3em;
    }

    .humbrger-icon {
        display: block;
        margin: 0 1.5em;
        font-size: 1.8rem;
        cursor: pointer;
        z-index: 1000;
    }

    #close-icon {
        display: none;
    }

    nav ul {
        max-width: 300px;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column-reverse;
        text-align: center;
        background: #c5c5c5;
        display: none;

    }

    nav ul.active {
        display: flex;
    }
}


/* شغل الي فوق كله حق navbar-with responsive */
/* ---------------------------------------- */
/* Start Section Hero */
.hero-section {

    background-image: url(/img/Hero\ Section.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--Arabic-second-font);
    direction: rtl;
}

.hero-section .hero-content {
    max-width: 800px;

}

.hero-section h1 {
    font-size: 7em;
    color: var(--Primary-color);
    line-height: 1;
    margin-left: 15em;
}

/*  */

@media (max-width: 768px) {
    #hero-section-inourwork {
        flex-direction: column;
        margin-bottom: 1em;
        margin-right: 2em;
    }

}
@media (max-width: 480px) {
    #hero-section-inourwork {
        
       
        margin-right: 4em;
    }

}

/*------------------------------------------------------------------- */
/* خدامتنا box */
.cards-box {
    margin-top: 4em;
    padding: 1em 3em;
    direction: rtl;
    font-family: var(--Arabic-second-font);

}
/* anmation vision section */
.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
}

/* بعد التفعيل */
.reveal.show {
    opacity: 1;
    transform: translateY(0);
}


.cards-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    max-width: 1100px;
    margin: auto;

}

.box {
    padding: 3em;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
    border-radius: 20px;
    
    
}

.box:hover {
    transform: translateY(-5px);
}

.box i {
    background-color: #003228;
    padding: 0.5em;
    color: white;
    border-radius: 10px;
}

.box h3 {
    color: var(--Primary-color);
    margin-bottom: 0.7em;
    font-size: 1.5em;
}

.box h4 {
    color: var(--for-box-card);
    margin: 0.5em 0;
    font-weight: 900;
    font-size: 1.1em;

}

.box p {
    line-height: 1.7;
    margin-bottom: 2em;
    color: var(--gray-color);
    font-size: 1.1em;
}

.box a {
    
    padding: 1.4em 2.5em;
    background-color: var(--Primary-color);
    color: white;
    border-radius: 50px;

}

@media (max-width: 768px) {
    .cards-info {
        grid-template-columns: 1fr;
        padding: 0 1em;
    }

    .box {
        padding: 2em 1.5em;
        gap: 1em
        ;
    }

    .box h3 {
        font-size: 1.3em;
    }

    .box h4 {
        font-size: 1em;
    }

    .box p {
        font-size: 1em;
    }
}