/* import arabic font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
/*  import english font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --Arabic-font: "IBM Plex Sans Arabic", sans-serif;
    --Arabic-second-font: "Almarai", sans-serif;
    --English-font: "Roboto Mono", monospace;
    --bg-color: #F5F5F5;
    --gray-secondry-color: #E7E7E9;
    --gray-color: #7B7B7B;
    --Primary-color: #007F66;
    --Secondry-color: #01997B;

}

body,
html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: var(--Arabic-second-font);


}

/* Start Nav-bar */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    padding: 1em 2em;
    background-color: var(--bg-color);

}

.logo {
    margin-left: auto;
    max-width: 5em;
    cursor: pointer;
}

/* لما تكون الصفحة RTL */
html[dir="rtl"] .logo {
    margin-right: auto;
    margin-left: 0;
}


nav ul {
    display: flex;
    gap: 1.5em;
    flex-direction: row-reverse;
}

nav ul li a {
    color: var(--Primary-color);
    font-family: var(--Arabic-second-font);
    font-size: 1.1em;
    position: relative;
    display: inline-block;

}

.a-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    background-color: var(--Primary-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s ease;
    width: 100%;

}

.a-link:hover::after {
    transform: scaleX(1);

}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    border-radius: 10px;
    outline: none;
    color: rgb(90, 88, 88);
    padding: 14px 13px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    margin: 0 1.5em;
    cursor: pointer;
}

.dropdown i {
    margin: 0 0.4em;
    margin: 0 0.6em;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    transition: .4s;
    background-color: var(--icon-color);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-content.show {
    display: block;
}

.dropdown-content a {
    float: none;
    color: var(--Primary-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropbtn {
    display: flex;
}

#lanugag-text {
    color: var(--Secondry-color);
    font-family: var(--Arabic-second-font);
}

/* Show the dropdown menu on hover */
.nav-links li:last-child::after {
    content: "|";
    margin-right: 0.5rem;
    color: #000000;
    /* غير اللون حسب خلفيتك */
}

.humbrger-icon {
    color: black;
    display: none;
    cursor: pointer;

}

nav ul li a:hover {
    color: var(--gray-color);
}


@media (max-width: 800px) {

    nav ul li a {
        font-size: 1em;
    }

    nav {
        padding: 1em 0.4em;

    }

    .logo {
        max-width: 100px;
    }

    .dropdown {
        margin-inline-start: auto;
        margin-inline-end: 1em;
    }
}

@media (max-width: 768px) {


    nav ul li {
        padding: 1em;
    }

    .humbrger-icon {
        display: block;
        margin: 0 1.5em;
        font-size: 1.8rem;
        cursor: pointer;
        z-index: 1000;
    }

    #close-icon {
        display: none;
    }

    nav ul {
        max-width: 200px;
        position: absolute;
        top: 78px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #c5c5c5;
        display: none;


    }

    @media (max-width: 400px) {

        nav ul li a {
            font-size: 1em;
        }

        nav {
            padding: 1em 0.4em;

        }

        .logo {
            max-width: 100px;
        }

        .dropdown {
            margin-inline-start: auto;
            margin-inline-end: 1em;
        }
    }

    nav ul.active {
        display: flex;
    }
}


/* شغل الي فوق كله حق navbar-with responsive */
/* ---------------------------------------- */
/* Start Section Hero */
.hero-section {

    background-image: url("../idocs/hero-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--Arabic-second-font);

}

.hero-section .hero-content {
    max-width: 800px;
    text-align: center;
}

.hero-section p {
    margin: 1em 0;
    color: rgb(170, 168, 168);
    font-size: 1.3em;
}

.hero-section h1 {
    font-size: 7em;
    color: var(--Primary-color);
    line-height: 1;
}

.hero-content .p-text-hero {
    margin: 0.5em;
}

.hero-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3em;
    max-width: 100%;
    direction: rtl;
}

.hero-info ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.hero-info li {
    padding: 1rem 1.5rem;
    background-color: var(--gray-secondry-color);
    border-radius: 12px;
    text-align: center;
    transition: all 0.3s ease;
    max-width: 300px;
    min-width: 170px
}

.hero-info li:hover {
    transform: translateY(-5px);
}

.hero-info a {
    color: var(--Primary-color);
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2em;
}

/* For REAPONSIV */
@media (max-width: 768px) {

    .hero-info ul {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;
    }

    .hero-info li {
        width: 100%;
        max-width: 250px;
    }

    .hero-content p {
        font-size: 1em;

    }

    .hero-content h1 {
        font-size: 3.3em;
    }

    .hero-info li {
        max-width: 200px;
        min-width: 80px;
        display: grid;
        
    }
    


}


/* ------------------------------------- */
/* Section Abou us */
.how-it-works {

    text-align: center;
    margin: 3em;
    max-width: 1700px;
    direction: rtl;

}

.works {
    margin-bottom: 3rem;
}

.works h1 {
    margin: 0.5em 0;
    font-size: 2.5em;
    color: var(--Primary-color);

}

.works h3 {
    color: #01997B;
    margin-bottom: 1em;
}

.works p {
    font-weight: 700;
    color: var(--gray-color);
}

.vision {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
    padding: 1rem 8rem;
    max-width: 1400px;
    flex-wrap: wrap;
}

.img-vision img {
    max-width: 400px;
    border-radius: 12px;
}

.text-vision {
    flex: 1;
    min-width: 280px;
    text-align: right;

}

.text-vision h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--Primary-color);

}

.text-vision h4 {
    font-size: 1.2rem;
    line-height: 1.7;
    color: var(--Secondry-color);
    font-weight: 700;
}

.vision.reverse {
    flex-direction: row-reverse;

}

/* Res */
@media (max-width: 768px) {

    .text-vision h1 {
        font-size: 0.9em;
    }

    .works p {
        font-size: 0.9em;
    }
}

@media (max-width: 568px) {
    body {
        max-width: 560px;
    }

    .vision {
        display: flex;
        max-width: 550px;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 2em;
        padding: 1.5em;

    }

    .img-vision img {
        max-width: 260px;

    }

    .text-vision h2 {
        font-size: 1.4em;
    }

    .works p {
        font-size: 0.9em;
    }

    .vision.reverse {
        flex-direction: row;
    }

}

@media (max-width: 518px) {
    .vision {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 2em;
    }

    .img-vision {
        max-width: 100%;

    }

    .text-vision h2 {
        font-size: 1.4em;
    }

    .works p {
        font-size: 0.9em;
    }

    .vision.reverse {
        flex-direction: row;
    }
}

@media (max-width: 518px) {
    .vision {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 2em;
    }

    .img-vision {
        max-width: 100%;

    }

    .text-vision h2 {
        font-size: 1.4em;
    }

    .works p {
        font-size: 0.9em;
    }

    .vision.reverse {
        flex-direction: row;
    }
}


/* anmation vision section */
.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
}

/* بعد التفعيل */
.reveal.show {
    opacity: 1;
    transform: translateY(0);
}

/* البداية: القسم مخفي */
/* --------------------------------- */
/* value قيمنا  */
.values {

    text-align: center;
    padding: 4em 2em;
    margin-top: 4em;
}

.values-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--Primary-color);
}

.values-row {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.value-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.value-box i {
    margin-bottom: 2em;
    font-size: 2rem;
    color: var(--Secondry-color);
    margin-bottom: 0.5rem;
}

.value-box p {
    font-size: 1rem;
    color: #333;
    margin-top: 2em;
}

/* Animation on hover */
.value-box:hover {
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .values-row {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .values-row {
        flex-direction: column;
        align-items: center;
    }
}


/*  */

/* _----------------------------------------------------------- */
/* Start footer */
.footer {
    margin-top: 20em;
    background-color: rgb(230, 230, 230);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    padding: 3em;
    flex-wrap: wrap;

}

.right-col {
    margin-right: 1em;
    flex-direction: column;
    text-align: right;

}

.right-col p {
    margin: 2em 0;
    max-width: 400px
}

.soical {
    font-size: 1.5em;
}

.soical a i {
    color: var(--Secondry-color);
    margin: 0 0.5em;
    font-size: 1em;
}

.about-us {
    display: flex;
}

.footer-column {
    flex: 1 1 250px;
    padding: 10px 20px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #000000;
}

.footer-column p {
    margin: 10px 0;
    display: flex;
    gap: 10px;


}

.footer-column a {
    color: #000000;
    text-decoration: underline;
}

.footer-column i {
    color: var(--secondry-color);
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        text-align: center;
        padding: 2em 1em;
    }

    .about-us {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .footer-column {
        padding: 0;
        width: 100%;
        max-width: 400px;
    }

    .right-col {
        text-align: center;
        margin: 0;
    }

    .right-col img {
        margin: 0 auto;
    }
}